.loading-gif {
    margin-left: 50%;
    margin-bottom: 26%;
}

.results{
    background-color: #fff;
    margin-bottom: 50px;
}

.mainbody{
  background-color: #fff;
  height: 100%;
  width: 100%;
}


