.loading-gif {
    margin-left: 50%;
    margin-bottom: 26%;
}

.results{
    background-color: #fff;
    /*Makes sure the last result fits in the page when scrolling*/
    margin-bottom: 50px;
    /*Makes sure top element has some distance from the search bar*/
    margin-top: 20px;
}

.mainbody{
  background-color: #fff;
  height: 100%;
  width: 100%;
}


.overlay {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(http://store.discovery.com/genericplus/images/loading.gif) center center no-repeat;
}