
.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  padding-left: 76px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}


.nav li a {
  position: relative;
  display: block;
  padding: 15px 100px 15px 50px;
  font-size: 14px;
  color: #eee;
  border-bottom: 1px solid #222;
}

.nav li a:hover {
  background: #444;
  text-decoration: none;
}