.fixed-nav-bar {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  /*background-color: #191d1e;*/
  background-color: #023F4E;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.tabs a, .tabs a:visited {
  color: #ffffff;
}


.search {
    flex-grow:1;
    text-align: center;
}

.selected {
    border-bottom: thick solid #ffffff;
}

.playlist{
    flex-grow:1;
    text-align: center;
}