.react-cassette-player{

    display: flex;
    flex-direction:row;
}
.control{
    padding-left: 20px;
    padding-top: 6px;
}

.react-cassette-player h4{
    color: #fff;
    margin-left: 16px;
    margin-top: 12px;
}