.react-cassette-player{

    display: flex;
    flex-direction:row;
}
.control{
    padding-left: 20px;
    padding-top: 6px;
}

.react-cassette-player h4{
    color: #fff;
    margin-left: 16px;
    margin-top: 12px;
}

.player-data-horizontal{
    display: flex;
    flex-direction:column;
    margin-left: 20px;
    width: 100%;
}

h6 {
    color:#fff;
}

.selected-track-name {
    margin-bottom: -30px;
    margin-top:2px;
}